.addContactFormWrapper {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}

.addContactForm {
  display: flex;
  flex-direction: column;
}

.formWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 900;
  opacity: .08;
}

.entryField {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
  padding: 6px;
  outline: none;
  font-size: 17px;
  background-color: opacify($color: #00000000, $amount: 0);
  cursor: pointer;

    &.hasError {
      border-bottom: 2px solid rgb(151, 0, 0);
    }

    &::placeholder {
      color: rgba(128, 128, 128, 0.781) !important;
      opacity: .5;
      font-size: 15px;
      font-style: italic;
    }
}

.fieldHeader {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(112, 112, 112);
  margin: 0 5px 2px;
}

.btnWriteDown {
  outline: none;
  width: 150px;
  background-color: white;
  border: 1px solid black;
  margin: 20px auto;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding: 13px 19px;
  font-weight: 600;
  color: gray;
  transition: .3s;
  cursor: pointer;
    
    &:hover {
      border: 1px solid rgba(112, 150, 172, 0.863);
    }
}

.formMessage {
  color: rgba(165, 42, 42, 0.637);
  height: 20px;
  width: 255px;
  font-weight: 600;
  font-size: small;
  letter-spacing: 1px;
  margin: 6px 5px;
}

